[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "1.4.0"
datasette = "*"
csvs-to-sqlite = "*"
xlrd = ">=1.0.0"
SQLAlchemy = "*"
openpyxl = "*"
sqlite-utils = "*"

[dev-packages]

[requires]
python_version = "3.11"
